---
import "../styles/global.css";
const lang = Astro.currentLocale;
---

<html lang={lang}>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="generator" content={Astro.generator}>
		<slot name="head" />
		<link rel="sitemap" href="/sitemap-index.xml">
		<link
			rel="alternate"
			type="application/rss+xml"
			title="Alexander Niebuhr's Garden"
			href={new URL("rss.xml", Astro.site)}
		>
	</head>
	<body
		class="min-h-dvh flex flex-col bg-neutral-100 dark:bg-neutral-900 text-black dark:text-white antialiased"
	>
		<slot name="body" />
		<!-- Cloudflare Web Analytics -->
		<script
			is:inline
			defer
			src="https://static.cloudflareinsights.com/beacon.min.js"
			data-cf-beacon='{"token": "639b1b00814b4516b1b7b72306510f3d"}'
		>
		</script>
		<!-- End Cloudflare Web Analytics -->
	</body>
</html>
